*{
	padding:0;
	margin:0;
	border:0;
	font-family: 'Montserrat', sans-serif;
}
main{
	margin-top: 100px;
}
header{
	left: 0;
	width: 100%;
	z-index: 10;
	position: fixed;
	top: 0;
	background-color: #7EA6E0;
}
form{
	width:80%;
	margin:0 auto;
	background-color: #E4FAE3;
	padding:30px 0;
}
.form-name{	
	padding:10px 0;
	width:80%;
	margin:0 auto;
	background-color: #7EA6E0;
}
input{
	display:block;
	align-content: start;
	width: 50%;
	border-bottom: 1px solid #7EA6E0;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 5px auto 15px;
}
.button{
	color: darkblue;
	font-size: inherit;
}
.button:hover{
	background-color: #2f6fc2;
	color: #7EA6E0;
}
input[type="submit"]{
	width: 25%;
	margin-top: 15px;
	background-color: #7EA6E0;
	cursor:pointer;
	position: center;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-radius:2px;
	padding:0 8px;
}
label{
	margin-left:23.5%;
	margin-top: 10px;
}
select{
	height: 1.8em;
	border-bottom: 1px solid #7EA6E0;
	border-radius: 5px;
	-appearance: none;
}
select:active{
	height: 300%;
}
.access-error{margin-top: 100px;}
.message{color:red;}
.message:empty { display: none }
.report{color:inherit;}
.report:empty { display: none }
.information{color: darkblue;}
.information:empty { display: none }
.form-name>p{
	text-align: center;
	font: inherit;
	font-size: 18px;
	color: darkblue;
}
.form{
	padding-bottom: 20px;
}
.form-content>p,
.form-content>input,	
.form-content>label{
	font-size: inherit;
	text-align: center;
}
.client-info{
	margin-bottom:10px;
}
.client-info>p{
	text-align: center;
	font-size: inherit;
	font-family: inherit;
}
.select-block{
	text-align: center;
	margin-bottom: 10px;
	padding-top: 5px;
}
.radio-currency{
	margin: 15px 0 15px 32%;
}
.radio-currency>input{
	display: unset;
	margin: 0;
	width: unset;
	margin-right: 7px;
}
.radio-currency>label{
	margin: 0;
}
.anchor {
	display: block;
	position: relative;
	top: -100px;
}